@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body,
p,
div,
span,
a,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

.bg-navbar {
  background-color: #ffffff;
}
.text-navbar {
  color: #333333;
}
.text-heading {
  color: #1a1a1a;
}
.text-heading-alt {
  color: #708d81;
}
.bg-icon {
  color: #c9a76a;
}
.bg-cta {
  background-color: #c9a76a;
}
.bg-dark {
  background-color: #708d81;
}
.text-cta {
  color: #ffffff;
}
.bg-footer {
  background-color: #f4f4f4;
}
.text-footer {
  color: #333333;
}
.text-footer-alt {
  color: #1a1a1a;
}
.hover\:bg-hover-dark:hover {
  background-color: #708d81;
}
.hover\:bg-hover-cta:hover {
  background-color: #c9a76a;
}
